{% extends "myapp/doctor_index.html" %}

{% block content %}
<section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Profile <small class="text-muted">Welcome to Medico-Experts</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                                                    <button class="btn btn-white btn-icon btn-round d-none d-md-inline-block float-right m-l-10" type="button">
                                <i class="zmdi zmdi-edit"></i>
                            </button>
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i> Medico-Experts</a></li>
                             <li class="breadcrumb-item">Doctors</li>
                                 <li class="breadcrumb-item active">Profile</li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
    <div class="row clearfix profile-page">
        <div class="col-lg-4 col-md-12">
            <div class="card profile-header">
                <div class="body text-center">
                    <div class="profile-image"> <img src="{{did.pic.url}}" alt=""> </div>
                    <div>
                        <h4 class="m-b-0"><strong>{{s_id.username}}</strong></h4>
                        <span class="job_post">{{s_id.specification}}</span>
                        <p>{{s_id.address}}<br></p>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-round">Follow</button>
                        <button class="btn btn-primary btn-round btn-simple">Message</button>
                    </div>
                    <p class="social-icon m-t-5 m-b-0">
                        <a title="Twitter" href="javascript:void(0);"><i class="zmdi zmdi-twitter"></i></a>
                        <a title="Facebook" href="javascript:void(0);"><i class="zmdi zmdi-facebook"></i></a>
                        <a title="Google-plus" href="javascript:void(0);"><i class="zmdi zmdi-twitter"></i></a>
                        <a title="Behance" href="javascript:void(0);"><i class="zmdi zmdi-behance"></i></a>
                        <a title="Instagram" href="javascript:void(0);"><i class="zmdi zmdi-instagram "></i></a>
                    </p>
                </div>                    
            </div>                               
            <div class="card">
                <div class="body">
                    <div class="workingtime">
                        <h6>Visiting Hours</h6>
                        
                        <p>{{did.visiting_hours}}</p>
                        
                    </div>
                    <!-- <div class="reviews">
                        <h6>Reviews</h6>
                        <small class="text-muted">Staff</small>
                        <p>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                        </p>
                        <hr>
                        <small class="text-muted">Punctuality</small>
                        <p>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                        </p>
                        <hr>
                        <small class="text-muted">Helpfulness</small>
                        <p>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                        </p>
                        <hr>
                        <small class="text-muted">Knowledge</small>
                        <p>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                        </p>
                        <hr>
                        <small class="text-muted">Cost</small>
                        <p>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                        </p>
                        <hr>
                    </div> -->
                </div>
            </div>
                          
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="card">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#about">About</a></li>
                  
                </ul>
                <div class="tab-content">
                    <div class="tab-pane body active" id="about">
                        <p>Dr.{{did.username}} is a neurosurgeon in East Patchogue,Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. He received his medical degree from Harvard Medical School and has been in practice for 21 years. He is one of 5 doctors at Brookhaven Memorial Hospital Medical Center and one of 9 at Southside Hospital who specialize in Neurological Surgery.</p>
                        <h6>Qualifications</h6>
                        <hr>
                        <ul class="list-unstyled">
                            <li>
                                <p><strong>Hospital Affiliations:</strong> UCSF MEDICAL CENTER</p>
                            </li>
                            <li>
                                <p><strong>Medical School:</strong> Palmer College of Chiropractic 1978</p>
                            </li>
                            <li>
                                <p><strong>Residency:</strong> New york</p>
                            </li>
                            <li>
                                <p><strong>Certifications:</strong> Certified Chiropractic Sports Physician 1982</p>
                            </li>
                            <li>
                                <p><strong>Gender:</strong> Male</p>
                            </li>
                            <li>
                                <p><strong>Experience / Training:</strong> Past-President, Int. Fed. 1991</p>
                            </li>
                            <li>
                                <p><strong>Internship:</strong> Palmer Clinic</p>
                            </li>
                        </ul>
                        <h6>Specialties</h6>
                        <hr>
                        <ul class="list-unstyled specialties">
                            <li>Breast Surgery</li>
                            <li>Colorectal Surgery</li>
                            <li>Endocrinology</li>
                            <li>Cardiology</li>
                            <li>Cosmetic Dermatology</li>
                            <li>Mole checks and monitoring</li>
                            <li>Clinical Neurophysiology</li>
                        </ul>
                    </div>
                                          
                </div>
            </div>
                          
        </div>
    </div>

            </div>
</section>
{% endblock %}
          